.user {
  flex-grow: 1;
  display: flex;
  justify-content: ; /* Center horizontally */
  align-items: flex-start; /* Center vertically */
  margin-top: 5rem;
  margin-left: 15rem;
}
.btn {
  margin-left: auto;

  right: 2rem;
}
#button {
  background-color: #641cc0;
  color: white;
}
