#sidebar {
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  text-indent: 15px;
  line-height: 3;
  position: absolute; /* Position the sidebar absolutely within the container */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  width: 20%; /* Adjust the width as needed */
  height: 100%; /* Make the sidebar full height */
  background-color: #ffffff; /* Set the background color */
  z-index: 1; /* Ensure the sidebar is above the Navbar */
}

#img {
  width: 10rem;
  height: 10rem;
  margin-top: -2rem;
}
