.sidebar {
  height: 100vh;
  width: 22%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  
}

.SidebarList {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: white;
}

.SidebarList #active {
  background-color: #efe8f8;
}
.flex-container {
  width: 232px;
  height: 50px;
  display: flex;

  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-container:hover {
  cursor: pointer;
  background-color: #efe8f8;
}
.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 80%;
}

.img {
  height: 8rem;
  width: 100%;
}
