.app {
  width: 100vw;
  display: flex;
  flex-direction: column; /* Stack sidebar, navbar, and content vertically */
  height: 100vh; 
  background-color: #C8CCCA;
}

body {
  margin: 0;
  padding: 0;
}


